---
# yamllint disable rule:line-length
image: registry.opensuse.org/home/okurz/container/ca/containers/tumbleweed:salt-minion-git-core

stages:
  - test-static
  - test
  - deploy

# test CI files so far
test-yaml:
  stage: test-static
  image: registry.opensuse.org/home/okurz/container/containers/tumbleweed:yamllint
  script:
    - yamllint .gitlab-ci.yml deploy.yml

variables:
  GIT_DEPTH: "3"
  # make sure to apply workaround for
  # https://gitlab.com/gitlab-org/gitlab-runner/issues/4119
  # within script sections as salt calls can take long
  salt_call: "salt-call --local -l debug state.apply"

.test_setup: &test_setup
  stage: test
  except:
    - master@openqa/salt-pillars-openqa
  before_script:
    - ln -s $(pwd -P)/ /srv/salt
    - . /etc/os-release
    - git clone --depth 3 https://osd_deployment_ci:${PILLARS_CLONE_TOKEN}@gitlab.suse.de/openqa/salt-pillars-openqa /srv/pillar
    # workaround ASCII encoding errors
    # see https://github.com/saltstack/salt/issues/48522#issuecomment-404226425
    - export LANG=en_US.UTF-8
    # https://salt-formulas.readthedocs.io/en/latest/develop/testing-formulas.html#common-practices
    - "echo 'noservices: True' >> /etc/salt/grains"
    # speed up salt a lot, see https://github.com/saltstack/salt/issues/48773#issuecomment-443599880
    - echo -e 'disable_grains:\n  - esxi\n\ndisable_modules:\n  - vsphere' >> /etc/salt/minion
    # Ensure all salt state internal requirements to be able to execute all
    # even in a mocked environment where the dependencies would not be
    # automatically pulled in. This is not a problem for non-mocked
    # environments because of correctly specified package dependencies
    - zypper -n in python3-augeas


test-general-mock:
  <<: *test_setup
  stage: test-static
  script: $salt_call mock=True

test-webui-mock:
  <<: *test_setup
  stage: test-static
  script:
    - "echo 'roles: webui' >> /etc/salt/grains"
    - $salt_call mock=True

test-worker-mock:
  <<: *test_setup
  stage: test-static
  script:
    - "echo 'roles: worker' >> /etc/salt/grains"
    - $salt_call mock=True

test-monitor-mock:
  <<: *test_setup
  stage: test-static
  script:
    - "echo 'roles: monitor' >> /etc/salt/grains"
    - $salt_call mock=True

test-storage-mock:
  <<: *test_setup
  stage: test-static
  script:
    - "echo 'roles: storage' >> /etc/salt/grains"
    - $salt_call mock=True

test-general-test:
  <<: *test_setup
  script: $salt_call test=True

test-general:
  <<: *test_setup
  script:
    - $salt_call

test-webui:
  <<: *test_setup
  script:
    - "echo 'roles: webui' >> /etc/salt/grains"
    - "echo 'webserver: apache2' >> /etc/salt/grains"
    - (
    - trap "kill %1" EXIT; while true; do sleep 1 && echo -n .; done &
    - $salt_call
    - )
    # file must exist after correct salt application and can be inspected
    # manually
    - cat /etc/openqa/openqa.ini

test-worker:
  <<: *test_setup
  script:
    - "echo 'roles: worker' >> /etc/salt/grains"
    # just pick any example worker for testing purposes
    - sed -i -e "s/openqaworker3/$HOSTNAME/" /srv/pillar/openqa/workerconf.sls
    - (
    - trap "kill %1" EXIT; while true; do sleep 1 && echo -n .; done &
    - $salt_call
    - )
    - cat /etc/openqa/workers.ini

test-monitor:
  <<: *test_setup
  script:
    - "echo 'roles: monitor' >> /etc/salt/grains"
    - "echo 'webserver: nginx' >> /etc/salt/grains"
    - (
    - trap "kill %1" EXIT; while true; do sleep 1 && echo -n .; done &
    - $salt_call
    - )
    # some checks on the changed or generated files
    - ls /etc/nginx/vhosts.d/
    - grep -q 'monitor.qa.suse.de' /etc/nginx/vhosts.d/02-grafana.conf && echo "ok -- expected nginx config file for grafana exists"
    - (telegraf --test --input-filter system ||:) | grep -q 'system,host=' && echo "ok -- telegraf outputs host information" || telegraf --test

test-storage:
  <<: *test_setup
  script:
    - "echo 'roles: storage' >> /etc/salt/grains"
    - (
    - trap "kill %1" EXIT; while true; do sleep 1 && echo -n .; done &
    - $salt_call
    - )

include: 'deploy.yml'
