[Unit]
Description=Collect system and openqa metrics and send them to graphite server

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target

