[Unit]
Description=Rotate openQA log files
Documentation=man:logrotate(8) man:logrotate.conf(5)
ConditionACPower=true

[Service]
Type=oneshot
ExecCondition=/bin/bash -xc 'is_active=$(/usr/bin/systemctl --user is-active logrotate.service); [[ $is_active == active || $is_active == activating ]] && exit 1 || exit 0'
ExecStart=/usr/sbin/logrotate -v /etc/logrotate.d/openqa /etc/logrotate.d/openqa-apache
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
Environment=HOME=/root
