[Unit]
Description=Setup NVMe before mounting it
Before=var-lib-openqa.mount
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'grep -q "md0.*nvme.n1" /proc/mdstat || mdadm --create /dev/md0 --level=0 --force --raid-devices=$(ls /dev/nvme?n1 | wc -l) --run /dev/nvme?n1'
ExecStart=/sbin/mkfs.ext2 -F /dev/md0

[Install]
WantedBy=multi-user.target
