[Unit]
Description=Setup NVMe before mounting it
Before=var-lib-openqa.mount
RequiresMountsFor=/usr/local/bin
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/openqa-establish-nvme-setup

[Install]
WantedBy=multi-user.target
