[Unit]
Description=Setup NVMe before mounting it
Before=var-lib-openqa.mount
After=systemd-udev-settle.service
RequiresMountsFor=/usr/local/bin
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/openqa-establish-nvme-setup
TimeoutSec=5m

[Install]
WantedBy=multi-user.target
