[Unit]
Description=Prepare NVMe after mounting it
After=var-lib-openqa.mount
Requires=var-lib-openqa.mount
Before=var-lib-openqa-share.mount
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -p /var/lib/openqa/cache
ExecStart=/usr/bin/mkdir -p /var/lib/openqa/pool
ExecStart=/usr/bin/mkdir -p /var/lib/openqa/share
ExecStart=/usr/bin/chown _openqa-worker:root /var/lib/openqa/cache /var/lib/openqa/pool /var/lib/openqa/share

[Install]
WantedBy=multi-user.target
