[Unit]
Description=Perform a salt connectivity check from the minion host and try to automatically recover the salt-minion service if that fails - see https://progress.opensuse.org/issues/203598
After=network.target
StartLimitInterval=3600
StartLimitBurst=12
OnFailure=salt-minion-restarter.service

[Service]
Type=simple
ExecStart=/bin/bash -c "/usr/bin/ss -nt -p | /usr/bin/grep salt-minion"
