[Unit]
Description=Automatically update jenkins plugins.
RequiresMountsFor=/usr/local
After=network.target jenkins.service

[Service]
Type=simple
ExecStart=/usr/local/bin/update-jenkins-plugins
