[Unit]
Description=Automatically patch system packages.
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/zypper -n patch --with-update --replacefiles --auto-agree-with-licenses --force-resolution --download-in-advance
