[Unit]
Description=jekyll souce update task
ConditionPathIsReadWrite=/srv/jekyll-source/

[Service]
Type=exec
User=wwwrun
ExecStart=/usr/local/bin/tumblesle-fetch-jekyll

